@import "tailwindcss";
@plugin "daisyui"{
  themes: nord --default, dim --prefersdark;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  font-family: var(--font-sans), serif;
}